*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background: #b2dfed00;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
div{
    text-align: center;
    border: #58575743 solid 1px;
    border-radius: 9px;
  height: 350px;
    background-color: #85828251;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
div hr{
    margin: 14px;
}
div input[type=number]{
    margin: 8px 0 ;
    padding: 10px;
    width: 80%;
    font-size: 16px;
    border-radius: 15px;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

div input[type=number]:read-only{
    border: 1px solid #000;
    background: #02253fdb;
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
      font-family: "Press Start 2P", system-ui;
      border-radius: 10px;
      padding: 5px;
      

height: 65px;
      box-shadow: rgba(210, 210, 221, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
div button{
    margin: 0 4px;
    padding:10px;
    width: 55px;
    border: 1px solid;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 100%;
background: #0868b1bf;
color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
div button:hover{
   background: #042a47bf;
}
div button:focus {
    outline: 2px solid #010101;
}
#read{
    width: 70px;
}
h2{
        font-style: italic;
     font-weight: 1px;
     fon
     justify-content: center;
     align-items: 100px;
     color: #0f0f0fc3;
     
}